@model Multas.Models.Agentes

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Agentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            <img src="'~/imagens/@Html.DisplayNameFor(model => model.Fotografia)" />
        </dt>

        <dd>
            
        </dd>

    </dl>

    @* Apresentação das multas do Agente listado na parte de cima da View *@
    <hr />
    <h3>Multas associadas ao(à) Agente</h3>
    
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().DataDaMulta)</th>
            <th>@Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().LocalDaMulta)</th>
            <th>@Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Condutor)</th>
            <th>@Html.DisplayNameFor(model => model.ListaDeMultas.FirstOrDefault().Viatura)</th>
        </tr>

        @foreach(var multa in Model.ListaDeMultas)
        {
        <tr>
            <td>@multa.DataDaMulta</td>
            <td>@multa.LocalDaMulta</td>
            <td>@multa.Condutor.Nome</td>
            <td>@multa.Viatura.Matricula</td>
        </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regressar à Listagem dos Agentes", "Index")
</p>
